/* Base Application Styles */
html, body {
  background: #222;
  margin: 0;
  padding: 0;
}

.tab {
  background-color: transparent;
  border-radius: 8px;
  font-size: 1em;
  margin-bottom: 5px;
  padding: 5px 0px;
  width: 100%;
  min-width: 353px;
  .title, .score, .reset {
    border: 1px solid grey;
    border-radius: 10px;
    background-color: whitesmoke;
    display: inline-block;
    padding: 10px 15px;
  }
  .title {
    color: darkolivegreen;
    margin-left: 10px;
  }
  .score, .reset {
    float: right;
  }
  .score {
    color: cornflowerblue;
    margin-right: 10px;
  }
  .reset {
    margin-right: 10px;
    position: relative;
    &:before {
      content: "\f01e";
      font-family: FontAwesome;
      font-style: normal;
      font-weight: normal;
      text-decoration: inherit;
      color: crimson;;
    }
  }
}
