/* Base Application Styles */
html, body {
  background: #222;
  margin: 0;
  padding: 0;
}

@media (min-width: 600px) {
  html, body {
    font-size: 30px;
  }
}

.game-over {
  margin-top: 25vh;
}

.tab {
  background-color: transparent;
  border-radius: 8px;
  font-size: 1em;
  margin-bottom: 5px;
  padding: 5px 10px;
  width: 100%;
  min-width: 360px;
  .score, .reset, .info {
    border: 1px solid grey;
    border-radius: 10px;
    background-color: whitesmoke;
    display: inline-block;
  }

  .text {
    padding: 10px 10px;
  }

  .title {
    color: whitesmoke;
    border: 1px solid grey;
    border-radius: 10px;
    display: inline-block;
  }

  .action {
    cursor: pointer;
    padding: 10px 15px;
  }

  .score {
    color: cornflowerblue;
  }

  .left {
    margin-left: 5px;
  }

  .right {
    float: right;
    margin-right: 5px;
  }

  .reset {
    color: crimson;;
  }

  .reset, .info {
    span:before {
      vertical-align: middle;
    }
  }
}
