.board {
  background-color: #CDC1B4;
  border: 8px solid #BBADA0;
  border-radius: 7px;
  width: 75%;
  margin-top: 5%;
  max-height: 600px;
  height: 75vw;
  max-width: 600px;
  min-width: 350px;
  min-height: 350px;
  .row {
    border-top: 3px solid #BBADA0;
    border-bottom: 3px solid #BBADA0;
    height: 25%;
  }
}
