.tile {
  font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
  border-left: 3px solid #BBADA0;
  border-right: 3px solid #BBADA0;
  display: table;
  height: 100%;
  border-radius: 3px;
  text-align: center;
  font-weight: bold;
  z-index: 10;
  font-size: 2em;
  &.tile0 {
    color: transparent;
    background-color: #dcb;
  }

  &.tile2 {
    background-color: #eee;
  }

  &.tile4 {
    background-color: #eec;
  }

  &.tile8, &.tile16 &.tile32 &.tile64 &.tile128, &.tile256, &.tile512 {
    .text {
      font-size: 1em;
    }
    color: #ffe;
  }

  &.tile8 {
    background-color: #fb8;
  }

  &.tile16 {
    background-color: #f96;
  }

  &.tile32 {
    background-color: #f75;
  }

  &.tile64 {
    background-color: #f53;
  }

  &.tile128 {
    background-color: #ec7;
  }

  &.tile256 {
    background-color: #ec6;
  }

  &.tile512 {
    background-color: #ec5;
  }

  &.tile1024 {
    .text {
      font-size: 0.6em;
    }
    color: #fff;
    background-color: #ec3;
  }

  &.tile2048 {
    .text {
      font-size: 0.6em;
    }
    color: #fff;
    background-color: #ec2;
  }

  .text {
    display: table-cell;
    position: relative;
    vertical-align: middle;
  }
}
